.gallery{
    display: flex;
    align-items: center;
    width:100%;
    height:100vh;
}

.framesContainer{
    display: flex;
    min-width:100%;
    height:50vh;
    align-self: center;
    justify-content: center;
}