.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  align-items: stretch;
}

.frame {
  display:block;
  width:90%;
  height: 70vh;;
}